In [16]:
import pandas as pd, numpy as np

In [17]:
# Load school directory data
school_dir_2013 = pd.read_csv('./educationdata/ccd_directory_2013.csv')
school_dir_2015 = pd.read_csv('./educationdata/ccd_directory_2015.csv')
school_dir_2017 = pd.read_csv('./educationdata/ccd_directory_2017.csv')

g12_enrollment_2013 = pd.read_csv('./educationdata/ccd_enrollment_2013.csv')
g12_enrollment_2015 = pd.read_csv('./educationdata/ccd_enrollment_2015.csv')
g12_enrollment_2017 = pd.read_csv('./educationdata/ccd_enrollment_2017.csv')

g12_retention_2013 = pd.read_csv('./educationdata/crdc_retention_2013.csv')
g12_retention_2015 = pd.read_csv('./educationdata/crdc_retention_2015.csv')
g12_retention_2017 = pd.read_csv('./educationdata/crdc_retention_2017.csv')

sat_act_participation_2013 = pd.read_csv('./educationdata/crdc_sat_act_part_2013.csv')
sat_act_participation_2015 = pd.read_csv('./educationdata/crdc_sat_act_part_2015.csv')
sat_act_participation_2017 = pd.read_csv('./educationdata/crdc_sat_act_part_2017.csv')

finance_2013 = pd.read_csv('./educationdata/crdc_school_finance_2013.csv')
finance_2015 = pd.read_csv('./educationdata/crdc_school_finance_2015.csv')
finance_2017 = pd.read_csv('./educationdata/crdc_school_finance_2017.csv')

C:\Users\ymsc1\anaconda3\envs\Data Science\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ymsc1\anaconda3\envs\Data Science\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (47,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ymsc1\anaconda3\envs\Data Science\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ymsc1\anaconda3\envs\Data Science\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (2,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ymsc1\anaconda3\envs\Data Science\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
def clean_school_dir(df):
    # Drop the columns with nearly total missing values
    df.drop(['Unnamed: 0', 'csa', 'cbsa', 'virtual', 'state_leg_district_lower', 'state_leg_district_upper', \
             'congress_district_id', 'direct_certification', 'lunch_program', 'ncessch_num', 'bureau_indian_education', \
             'title_i_status', 'title_i_eligible', 'title_i_schoolwide', 'magnet', 'shared_time', \
             'free_lunch', 'reduced_price_lunch', 'free_or_reduced_price_lunch'], axis = 1, inplace = True)
    # Uniforming the ncessch column to 12-digit string as the key for merging the dataframes
    df.ncessch = df.ncessch.astype(str).str.zfill(12)
    df.zip_location = df.zip_location.astype(str)
    df.county_code = df.county_code.astype(str).str.zfill(5)
    # Filling missing data in state_location and zip_location by using state_mailing column
    df.state_location.replace(to_replace = '-1', value = np.nan, inplace =True) 
    df.state_location.fillna(df.state_mailing, inplace = True)
    df.zip_location.replace(to_replace = -1, value = np.nan, inplace =True) 
    df.zip_location.fillna(df.zip_mailing, inplace = True)
    # Drop states which have too much missing data...
    df.drop(df[df['state_location'] == 'AE'].index, inplace = True)
    df.drop(df[df['state_location'] == 'AP'].index, inplace = True)
    df.drop(df[df['state_location'] == 'AS'].index, inplace = True)
    df.drop(df[df['state_location'] == 'GU'].index, inplace = True)
    df.drop(df[df['state_location'] == 'PR'].index, inplace = True)
    df.drop(df[df['state_location'] == 'VI'].index, inplace = True)
    return df

school_dir_2013 = clean_school_dir(school_dir_2013)
school_dir_2015 = clean_school_dir(school_dir_2015)
school_dir_2017 = clean_school_dir(school_dir_2017)

def clean_enrollment(df):
    df = df[['ncessch', 'enrollment']]
    df.ncessch = df.ncessch.astype(str).str.zfill(12)
    df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)
    return df

g12_enrollment_2013 = clean_enrollment(g12_enrollment_2013)
g12_enrollment_2015 = clean_enrollment(g12_enrollment_2015)
g12_enrollment_2017 = clean_enrollment(g12_enrollment_2017)

def clean_retention(df):
    df = df[['ncessch', 'students_retained']]
    df.ncessch = df.ncessch.astype(str).replace('\.0', '', regex=True).str.zfill(12)
    df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)
    df.fillna(0, inplace = True)
    return df

g12_retention_2013 = clean_retention(g12_retention_2013)
g12_retention_2015 = clean_retention(g12_retention_2015)
g12_retention_2017 = clean_retention(g12_retention_2017)

def clean_sat_act(df):
    df = df[['ncessch', 'students_SAT_ACT']]
    df.ncessch = df.ncessch.astype(str).replace('\.0', '', regex=True).str.zfill(12)
    df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)
    return df

sat_act_participation_2013 = clean_sat_act(sat_act_participation_2013)
sat_act_participation_2015 = clean_sat_act(sat_act_participation_2015)
sat_act_participation_2017 = clean_sat_act(sat_act_participation_2017)

def clean_finance(df):
    df = df[['ncessch', 'salaries_teachers', 'salaries_total', 'expenditures_nonpersonnel']]
    df.ncessch = df.ncessch.astype(str).replace('\.0', '', regex=True).str.zfill(12)
    df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)
    return df

finance_2013 = clean_finance(finance_2013)
finance_2015 = clean_finance(finance_2015)
finance_2017 = clean_finance(finance_2017)

C:\Users\ymsc1\anaconda3\envs\Data Science\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\ymsc1\AppData\Local\Temp/ipykernel_16380/15968396.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)
C:\Users\ymsc1\AppData\Local\Temp/ipykernel_16380/15968396.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)
C:\Users\ymsc1\anaconda3\envs\Data Science\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
C:\Users\ymsc1\AppData\Local\Temp/ipykernel_16380/15968396.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)
C:\Users\ymsc1\AppData\Local\Temp/ipykernel_16380/15968396.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['ncessch'], keep = 'first', inplace = True)

In [19]:
# merge the dataframes
def merge_school_data(df_dir, df_erl, df_rtn, df_sat, df_fnc):
    df_dir = df_dir.merge(df_erl, on = 'ncessch', how = 'left')
    df_dir = df_dir.merge(df_rtn, on = 'ncessch', how = 'left')
    df_dir = df_dir.merge(df_sat, on = 'ncessch', how = 'left')
    df_dir = df_dir.merge(df_fnc, on = 'ncessch', how = 'left')
    df_dir = df_dir.rename(columns = {'enrollment_x':'enrollment', 'enrollment_y':'g12_enrollment','students_retained':'g12_students_retained'})
# According to crdc document, missing values are encoded as -1 which should be converted to nan.
    df_dir.replace(to_replace = -1, value = np.nan, inplace =True) 
    return df_dir

school_dir_2013 = merge_school_data(school_dir_2013, g12_enrollment_2013, g12_retention_2013, sat_act_participation_2013, finance_2013)
school_dir_2015 = merge_school_data(school_dir_2015, g12_enrollment_2015, g12_retention_2015, sat_act_participation_2015, finance_2015)
school_dir_2017 = merge_school_data(school_dir_2017, g12_enrollment_2017, g12_retention_2017, sat_act_participation_2017, finance_2017)

In [20]:
# fill the missing data with earlier/later data if applicable...
school_dir_2013.set_index('ncessch', inplace = True)
school_dir_2015.set_index('ncessch', inplace = True)
school_dir_2017.set_index('ncessch', inplace = True)
school_dir_2013.update(school_dir_2015)
school_dir_2015.update(school_dir_2013)
school_dir_2015.update(school_dir_2017)
school_dir_2017.update(school_dir_2015)
school_dir_2013.reset_index(inplace = True)
school_dir_2015.reset_index(inplace = True)
school_dir_2017.reset_index(inplace = True)

In [21]:
# g12_enrollment g12_students_retained students_SAT_ACT salaries_teachers salaries_total expenditures_nonpersonnel
def fill_missing_value(df, filename):
    df.teachers_fte = df.teachers_fte.fillna(df.groupby('state_location').teachers_fte.transform('mean'))
    df.enrollment = df.enrollment.fillna(df.groupby('state_location').enrollment.transform('mean'))
    df.g12_enrollment = df.g12_enrollment.fillna(df.groupby('state_location').g12_enrollment.transform('mean'))
    df.g12_students_retained = df.g12_students_retained.fillna(df.groupby('state_location').g12_students_retained.transform('mean'))
    df.students_SAT_ACT = df.students_SAT_ACT.fillna(df.groupby('state_location').students_SAT_ACT.transform('mean'))
    df.salaries_teachers = df.salaries_teachers.fillna(df.groupby('state_location').salaries_teachers.transform('mean'))
    df.salaries_total = df.salaries_total.fillna(df.groupby('state_location').salaries_total.transform('mean'))
    df.expenditures_nonpersonnel = df.expenditures_nonpersonnel.fillna(df.groupby('state_location').expenditures_nonpersonnel.transform('mean'))
    # Save dataframes to csv files
    df.to_csv("./educationdata/" + filename + ".csv")
    return df
school_dir_2013 = fill_missing_value(school_dir_2013, 'school_dir_2013')
school_dir_2015 = fill_missing_value(school_dir_2015, 'school_dir_2015')
school_dir_2017 = fill_missing_value(school_dir_2017,'school_dir_2017')

In [22]:
school_dir_2013.isnull().sum()

ncessch                      0
year                         0
school_id                    0
school_name                  0
leaid                        0
lea_name                     0
state_leaid                  0
seasch                       0
street_mailing               0
city_mailing                 0
state_mailing                0
zip_mailing                  0
street_location              0
city_location                0
state_location               0
zip_location                 0
phone                        1
fips                         0
latitude                     0
longitude                    0
urban_centric_locale         0
county_code                  0
school_level                 0
school_type                  0
school_status                0
lowest_grade_offered         0
highest_grade_offered        0
charter                      0
teachers_fte                 0
elem_cedp                    0
high_cedp                    0
middle_cedp                  0
ungrade_cedp                 0
enrollment                   0
g12_enrollment               0
g12_students_retained        0
students_SAT_ACT             0
salaries_teachers            0
salaries_total               0
expenditures_nonpersonnel    0
dtype: int64

In [23]:
school_dir_2015.isnull().sum()

ncessch                      0
year                         0
school_id                    0
school_name                  0
leaid                        0
lea_name                     0
state_leaid                  0
seasch                       0
street_mailing               0
city_mailing                 0
state_mailing                0
zip_mailing                  0
street_location              0
city_location                0
state_location               0
zip_location                 0
phone                        0
fips                         0
latitude                     0
longitude                    0
urban_centric_locale         0
county_code                  0
school_level                 0
school_type                  0
school_status                0
lowest_grade_offered         0
highest_grade_offered        0
charter                      0
teachers_fte                 0
elem_cedp                    0
high_cedp                    0
middle_cedp                  0
ungrade_cedp                 0
enrollment                   0
g12_enrollment               0
g12_students_retained        0
students_SAT_ACT             0
salaries_teachers            0
salaries_total               0
expenditures_nonpersonnel    0
dtype: int64

In [24]:
school_dir_2017.isnull().sum()

ncessch                      0
year                         0
school_id                    0
school_name                  0
leaid                        0
lea_name                     0
state_leaid                  0
seasch                       0
street_mailing               0
city_mailing                 0
state_mailing                0
zip_mailing                  0
street_location              0
city_location                0
state_location               0
zip_location                 0
phone                        0
fips                         0
latitude                     0
longitude                    0
urban_centric_locale         0
county_code                  0
school_level                 0
school_type                  0
school_status                0
lowest_grade_offered         0
highest_grade_offered        0
charter                      0
teachers_fte                 0
elem_cedp                    0
high_cedp                    0
middle_cedp                  0
ungrade_cedp                 0
enrollment                   0
g12_enrollment               0
g12_students_retained        0
students_SAT_ACT             0
salaries_teachers            0
salaries_total               0
expenditures_nonpersonnel    0
dtype: int64

In [25]:
def create_state_data(df, filename):
# groupby state and calculate aggregated values
    df = df.groupby('state_location')
    school_stats = df.size().to_frame(name = 'school_counts')
    school_stats = (school_stats
    .join(df.agg({'enrollment':'mean'}).round(0).rename(columns = {'enrollment':'enrollment_mean'}))
    .join(df.agg({'g12_enrollment':'mean'}).round(0).rename(columns = {'g12_enrollment':'g12_enrollment_mean'}))
    .join(df.agg({'teachers_fte':'mean'}).round(0).rename(columns = {'teachers_fte':'teachers_fte_mean'}))
    .join(df.agg({'g12_students_retained':'mean'}).round(0).rename(columns = {'g12_students_retained':'g12_students_retained_mean'}))
    .join(df.agg({'students_SAT_ACT':'mean'}).round(0).rename(columns = {'students_SAT_ACT':'students_SAT_ACT_mean'}))
    .join(df.agg({'salaries_teachers':'mean'}).round(2).rename(columns = {'salaries_teachers':'salaries_teachers_mean'}))
    .join(df.agg({'salaries_total':'mean'}).round(2).rename(columns = {'salaries_total':'salaries_total_mean'}))
    .join(df.agg({'expenditures_nonpersonnel':'mean'}).round(2).rename(columns = {'expenditures_nonpersonnel':'expenditures_nonpersonnel_mean'}))
    ).reset_index()
# Save dataframes to csv files
    school_stats.to_csv("./educationdata/" + filename + ".csv")
    return school_stats

state_data_2013 = create_state_data(school_dir_2013, 'state_data_2013')
state_data_2015 = create_state_data(school_dir_2015, 'state_data_2015')
state_data_2017 = create_state_data(school_dir_2017, 'state_data_2017')
state_data_2013

,state_location,school_counts,enrollment_mean,g12_enrollment_mean,teachers_fte_mean,g12_students_retained_mean,students_SAT_ACT_mean,salaries_teachers_mean,salaries_total_mean,expenditures_nonpersonnel_mean
0,AK,48,563.0,124.0,30.0,8.0,133.0,2158340.67,2977432.74,375157.12
1,AL,279,725.0,161.0,40.0,5.0,197.0,2084060.81,3259904.97,698079.92
2,AR,259,514.0,117.0,41.0,2.0,165.0,1789216.40,2440478.67,1066876.45
3,AZ,421,730.0,181.0,54.0,12.0,117.0,1559854.43,2537615.13,455948.45
4,CA,1253,1382.0,322.0,58.0,5.0,230.0,4278165.83,6409906.05,1069519.25
5,CO,281,793.0,187.0,42.0,14.0,182.0,2381441.62,3223684.51,3079506.14
6,CT,169,857.0,208.0,68.0,7.0,283.0,4880917.60,6721597.74,1262602.70
7,DC,25,485.0,102.0,44.0,2.0,164.0,3699626.52,6658235.10,1206458.70
8,DE,27,1073.0,240.0,69.0,7.0,242.0,4409897.89,5714188.59,1055758.81
9,FL,478,1580.0,349.0,83.0,11.0,469.0,3137591.19,4235301.23,596345.10
10,GA,393,1233.0,265.0,71.0,11.0,230.0,3597054.47,4710393.63,644799.56
11,HI,39,1266.0,262.0,78.0,4.0,333.0,3307668.15,4565884.93,778346.38
12,IA,301,470.0,113.0,32.0,5.0,85.0,1798639.90,2463150.60,625532.49
13,ID,112,660.0,151.0,35.0,4.0,170.0,1569480.72,2299984.14,410658.71
14,IL,660,879.0,208.0,56.0,9.0,201.0,3884875.56,5337441.33,3081468.90
15,IN,353,893.0,201.0,51.0,4.0,162.0,2514443.88,3392491.68,847579.93
16,KS,308,461.0,102.0,31.0,2.0,100.0,1503323.35,1979239.34,568235.28
17,KY,218,856.0,190.0,49.0,2.0,324.0,2488976.17,3459102.43,400512.05
18,LA,211,834.0,172.0,40.0,7.0,207.0,2523320.13,3288593.15,580963.11
19,MA,287,866.0,201.0,66.0,6.0,193.0,5528885.85,6547939.06,787261.88
20,MD,185,1256.0,289.0,78.0,13.0,351.0,5592808.60,7020595.57,599466.56
21,ME,106,472.0,116.0,38.0,3.0,123.0,2050504.68,2808917.44,688686.02
22,MI,587,709.0,164.0,34.0,5.0,168.0,1969980.07,2575218.93,561930.75
23,MN,401,613.0,140.0,35.0,3.0,165.0,2164387.00,2984787.47,846280.46
24,MO,487,543.0,125.0,36.0,3.0,157.0,1844768.56,2459096.73,1988107.29
25,MS,200,669.0,138.0,42.0,6.0,190.0,2002622.90,2559349.15,537790.40
26,MT,168,249.0,58.0,18.0,1.0,62.0,987037.42,1418182.69,449941.24
27,NC,475,916.0,198.0,54.0,4.0,194.0,2329318.71,2950787.52,357464.70
28,ND,164,190.0,44.0,16.0,1.0,46.0,988070.03,1411011.70,842022.71
29,NE,272,365.0,87.0,27.0,5.0,88.0,1602208.64,2170770.82,492561.79
30,NH,91,627.0,151.0,52.0,7.0,159.0,2923264.51,4291344.96,1512962.35
31,NJ,352,1078.0,252.0,87.0,6.0,286.0,6222860.22,8661894.31,1748876.84
32,NM,168,537.0,118.0,32.0,8.0,190.0,1588258.14,2485277.92,438922.88
33,NV,97,1346.0,311.0,58.0,29.0,364.0,3214138.75,4705309.16,1095621.37
34,NY,925,779.0,178.0,53.0,9.0,163.0,4368221.32,5940771.01,2444125.03
35,OH,779,643.0,142.0,36.0,4.0,143.0,2269655.62,3124123.77,928327.72
36,OK,450,383.0,89.0,24.0,2.0,122.0,1112325.06,1635221.10,546798.10
37,OR,229,724.0,177.0,33.0,9.0,105.0,1871588.32,2550599.49,534102.20
38,PA,587,836.0,196.0,56.0,7.0,184.0,3778207.99,4810367.95,1741471.50
39,RI,45,830.0,211.0,67.0,11.0,104.0,4801510.91,7082882.74,1103214.04
40,SC,203,1008.0,219.0,62.0,6.0,282.0,2864661.09,4075060.96,1186888.58
41,SD,160,225.0,51.0,16.0,2.0,54.0,668174.22,889444.71,471253.72
42,TN,284,881.0,205.0,50.0,4.0,237.0,2411630.86,3648976.86,432263.63
43,TX,1186,1120.0,248.0,74.0,8.0,201.0,3666715.59,5198319.96,1317234.04
44,UT,136,1045.0,283.0,42.0,6.0,429.0,2239426.88,3045151.28,702269.81
45,VA,306,1243.0,286.0,82.0,8.0,228.0,4085035.30,5409549.91,472932.62
46,VT,44,525.0,117.0,49.0,3.0,96.0,2838045.98,4097482.69,1895714.07
47,WA,335,901.0,224.0,46.0,17.0,156.0,2659826.68,3643812.62,444848.15
48,WI,439,562.0,138.0,36.0,6.0,153.0,1999525.24,2734138.86,609251.14
49,WV,102,733.0,164.0,47.0,3.0,119.0,2222928.65,2874392.29,772127.36
50,WY,61,409.0,96.0,31.0,2.0,94.0,1797593.70,2477143.13,1049206.28

In [26]:
state_data_2015

,state_location,school_counts,enrollment_mean,g12_enrollment_mean,teachers_fte_mean,g12_students_retained_mean,students_SAT_ACT_mean,salaries_teachers_mean,salaries_total_mean,expenditures_nonpersonnel_mean
0,AK,48,548.0,125.0,30.0,6.0,76.0,1948394.62,2687676.29,519521.46
1,AL,271,740.0,173.0,42.0,4.0,205.0,2103234.65,2725699.98,892533.22
2,AR,272,501.0,117.0,40.0,1.0,156.0,1853331.88,2375981.85,1581911.90
3,AZ,408,744.0,182.0,54.0,12.0,142.0,1767939.13,2689799.38,768994.37
4,CA,1283,1353.0,319.0,58.0,5.0,254.0,4500378.41,6107362.81,1163814.69
5,CO,278,828.0,196.0,44.0,11.0,202.0,2523295.68,3347631.20,687273.10
6,CT,172,841.0,203.0,70.0,6.0,249.0,5236139.65,7003150.54,1848413.61
7,DC,28,503.0,111.0,38.0,5.0,181.0,3011276.54,5037065.65,1195233.89
8,DE,29,1024.0,223.0,67.0,3.0,248.0,4982663.72,6402117.83,1986154.31
9,FL,486,1590.0,365.0,84.0,7.0,526.0,3885002.77,5517565.60,728634.21
10,GA,390,1270.0,284.0,74.0,9.0,255.0,3916559.45,5196421.98,855191.21
11,HI,39,1266.0,270.0,80.0,1.0,315.0,3002397.31,3906169.91,878612.51
12,IA,297,481.0,118.0,32.0,6.0,100.0,1914180.37,2590852.56,598474.79
13,ID,113,673.0,156.0,36.0,3.0,192.0,1723290.75,2333961.87,472876.57
14,IL,691,847.0,204.0,53.0,9.0,240.0,3873307.39,5295079.04,1141038.47
15,IN,356,884.0,204.0,53.0,4.0,162.0,2567968.50,3423722.17,1160727.74
16,KS,305,462.0,105.0,32.0,2.0,85.0,1602186.24,2925367.13,412793.73
17,KY,211,890.0,201.0,51.0,2.0,333.0,2626537.29,3393852.97,2101721.07
18,LA,205,850.0,188.0,46.0,6.0,246.0,2600608.10,3404139.56,914403.15
19,MA,289,856.0,200.0,66.0,3.0,204.0,4877882.72,6451205.44,640492.53
20,MD,185,1307.0,302.0,80.0,16.0,378.0,5562268.77,6915691.05,471685.38
21,ME,106,472.0,116.0,37.0,4.0,113.0,2088714.63,2927420.72,963776.84
22,MI,555,704.0,167.0,34.0,4.0,161.0,2027610.04,2777885.19,573996.33
23,MN,417,614.0,139.0,35.0,4.0,157.0,2209126.58,3549816.67,872866.74
24,MO,483,542.0,127.0,37.0,2.0,135.0,1909844.66,2543214.36,459428.64
25,MS,199,657.0,144.0,41.0,5.0,214.0,2029600.19,2768515.51,493058.75
26,MT,169,250.0,57.0,18.0,0.0,60.0,898533.86,1429990.36,399090.88
27,NC,475,923.0,208.0,54.0,4.0,204.0,2469181.29,3147000.45,360533.89
28,ND,166,195.0,43.0,17.0,1.0,40.0,1149723.21,1389730.58,416508.45
29,NE,268,382.0,91.0,28.0,6.0,108.0,1647135.01,2204647.63,581299.43
30,NH,94,597.0,141.0,49.0,6.0,145.0,2878932.67,4085475.28,1243787.23
31,NJ,356,1062.0,253.0,86.0,5.0,298.0,6400535.44,8873512.85,2014863.94
32,NM,170,509.0,113.0,29.0,6.0,187.0,1505955.34,2089398.32,410774.55
33,NV,97,1365.0,319.0,59.0,3.0,403.0,3859537.86,5329174.51,1166663.71
34,NY,944,764.0,177.0,54.0,8.0,186.0,4583400.43,6048849.05,1001044.62
35,OH,784,634.0,144.0,35.0,3.0,198.0,2364326.76,3162699.90,1041747.98
36,OK,462,395.0,93.0,23.0,3.0,106.0,1054949.20,1550036.87,1258016.91
37,OR,229,714.0,172.0,33.0,4.0,117.0,2159689.80,3012689.00,791853.60
38,PA,580,843.0,200.0,56.0,6.0,189.0,3869375.03,4985725.74,1446651.53
39,RI,50,797.0,183.0,62.0,7.0,216.0,4594885.20,6243240.22,1327748.78
40,SC,205,1018.0,232.0,63.0,5.0,254.0,2952721.19,4310404.94,2439518.68
41,SD,160,232.0,53.0,16.0,2.0,48.0,771055.97,1020704.18,256552.44
42,TN,334,869.0,211.0,50.0,9.0,320.0,2604249.28,3266857.03,563946.03
43,TX,1199,1150.0,263.0,76.0,12.0,249.0,3805086.75,4821265.78,843622.75
44,UT,141,1052.0,282.0,42.0,6.0,376.0,2462823.06,3310030.19,947509.65
45,VA,307,1241.0,292.0,84.0,7.0,248.0,4308585.46,5523542.07,462426.59
46,VT,42,512.0,110.0,46.0,3.0,92.0,2875532.38,3941532.15,2459210.24
47,WA,366,825.0,206.0,40.0,13.0,166.0,2728827.63,3736005.79,746407.16
48,WI,439,560.0,140.0,37.0,4.0,140.0,1958817.88,2598659.81,703096.08
49,WV,104,720.0,163.0,46.0,3.0,181.0,2190039.46,2753569.06,957400.77
50,WY,80,324.0,75.0,24.0,1.0,85.0,1498872.01,2096440.24,387743.21

In [27]:
state_data_2017

,state_location,school_counts,enrollment_mean,g12_enrollment_mean,teachers_fte_mean,g12_students_retained_mean,students_SAT_ACT_mean,salaries_teachers_mean,salaries_total_mean,expenditures_nonpersonnel_mean
0,AK,56,508.0,112.0,28.0,5.0,69.0,1843139.86,2532664.41,467518.34
1,AL,292,727.0,167.0,41.0,5.0,197.0,2083518.38,2691311.50,851044.99
2,AR,276,516.0,118.0,41.0,1.0,163.0,1895425.57,2422515.09,2333468.38
3,AZ,457,727.0,174.0,52.0,12.0,135.0,1744228.42,2621916.67,842990.76
4,CA,1368,1310.0,303.0,56.0,4.0,244.0,4359428.29,5933321.78,1199936.77
5,CO,332,748.0,173.0,40.0,10.0,177.0,2289492.13,3057128.29,640929.88
6,CT,184,829.0,196.0,69.0,6.0,238.0,5181582.11,6898144.87,1893723.10
7,DC,36,522.0,104.0,38.0,5.0,172.0,3093732.83,5217973.99,1136325.91
8,DE,32,998.0,211.0,64.0,3.0,240.0,4991279.71,6378622.87,1954107.26
9,FL,599,1375.0,307.0,79.0,6.0,459.0,3497749.88,4975609.75,668524.56
10,GA,418,1220.0,270.0,71.0,9.0,244.0,3788239.09,5042263.53,821476.59
11,HI,40,1241.0,264.0,78.0,1.0,308.0,2953448.12,3839895.09,874249.18
12,IA,324,462.0,111.0,31.0,5.0,94.0,1843151.48,2494339.71,575883.94
13,ID,131,619.0,140.0,34.0,3.0,173.0,1609777.59,2174976.36,465897.28
14,IL,768,795.0,190.0,52.0,8.0,224.0,3589870.43,4936771.15,1156929.87
15,IN,385,863.0,197.0,51.0,3.0,155.0,2478473.32,3310533.96,1144899.68
16,KS,336,439.0,99.0,31.0,2.0,79.0,1522088.54,2740144.53,400353.10
17,KY,216,887.0,198.0,51.0,2.0,328.0,2626771.30,3406661.54,2060694.86
18,LA,245,770.0,167.0,42.0,5.0,216.0,2372092.69,3121685.64,837820.30
19,MA,318,832.0,188.0,65.0,3.0,195.0,4755127.18,6357377.62,715267.60
20,MD,198,1253.0,284.0,77.0,15.0,355.0,5298241.91,6541921.95,540884.30
21,ME,109,469.0,114.0,37.0,3.0,109.0,2056823.66,2886640.89,974228.23
22,MI,641,664.0,154.0,32.0,3.0,150.0,1926359.88,3031583.43,543901.05
23,MN,461,592.0,131.0,34.0,4.0,147.0,2135050.81,3400920.52,852561.83
24,MO,556,492.0,113.0,34.0,2.0,121.0,1753235.55,2329664.72,421988.47
25,MS,206,653.0,143.0,41.0,5.0,212.0,2014972.36,2750881.63,491618.46
26,MT,169,250.0,57.0,18.0,0.0,60.0,898533.86,1429990.36,399090.88
27,NC,511,898.0,199.0,53.0,4.0,196.0,2409347.55,3077076.89,366967.81
28,ND,165,204.0,45.0,17.0,1.0,42.0,1188751.90,1438601.95,426849.05
29,NE,265,385.0,92.0,28.0,6.0,109.0,1660289.48,2223221.84,587108.26
30,NH,94,597.0,141.0,49.0,6.0,145.0,2879665.87,4088657.54,1243262.59
31,NJ,356,1067.0,253.0,87.0,5.0,299.0,6425154.94,8825966.67,2022606.19
32,NM,182,523.0,112.0,30.0,5.0,188.0,1490755.87,2060919.94,447077.10
33,NV,109,1266.0,289.0,55.0,2.0,366.0,3621234.42,4996502.21,1142647.44
34,NY,1096,738.0,164.0,53.0,7.0,175.0,4332951.31,5742508.21,978534.42
35,OH,809,635.0,142.0,35.0,3.0,198.0,2379000.03,3167170.91,1063633.74
36,OK,457,399.0,94.0,23.0,3.0,107.0,1063302.46,1562125.12,1268683.66
37,OR,241,696.0,167.0,32.0,4.0,113.0,2105854.71,2935986.03,776043.49
38,PA,624,827.0,192.0,55.0,6.0,182.0,3767502.33,4875931.48,1455357.13
39,RI,52,768.0,175.0,59.0,7.0,213.0,4366797.23,5967376.43,1325269.98
40,SC,222,978.0,219.0,61.0,4.0,239.0,2851815.29,4164597.22,2300217.83
41,SD,164,227.0,52.0,16.0,2.0,47.0,761067.45,1004574.65,252149.79
42,TN,340,854.0,199.0,52.0,9.0,320.0,2653293.17,3335128.52,615627.84
43,TX,1329,1096.0,245.0,73.0,11.0,234.0,3629211.83,4607874.80,826508.55
44,UT,150,1033.0,274.0,43.0,5.0,364.0,2413415.85,3243670.88,976239.32
45,VA,316,1229.0,287.0,83.0,7.0,244.0,4250713.41,5448975.01,454374.73
46,VT,40,451.0,91.0,39.0,2.0,70.0,2496689.80,3340150.63,2046309.22
47,WA,389,795.0,197.0,38.0,11.0,154.0,2612913.11,3583236.50,733402.35
48,WI,485,532.0,131.0,35.0,4.0,131.0,1868295.81,2479301.74,675621.25
49,WV,111,707.0,158.0,45.0,3.0,176.0,2153330.24,2698785.01,932118.81
50,WY,81,323.0,75.0,24.0,2.0,84.0,1480982.94,2072754.52,380154.78

In [28]:
def create_zip_data(df, filename):
# groupby state and calculate aggregated values
    df = df.groupby(['state_location', 'zip_location'])
    school_stats = df.size().to_frame(name = 'school_counts')
    school_stats = (school_stats
    .join(df.agg({'enrollment':'mean'}).round(0).rename(columns = {'enrollment':'enrollment_mean'}))
    .join(df.agg({'g12_enrollment':'mean'}).round(0).rename(columns = {'g12_enrollment':'g12_enrollment_mean'}))
    .join(df.agg({'teachers_fte':'mean'}).round(0).rename(columns = {'teachers_fte':'teachers_fte_mean'}))
    .join(df.agg({'g12_students_retained':'mean'}).round(0).rename(columns = {'g12_students_retained':'g12_students_retained_mean'}))
    .join(df.agg({'students_SAT_ACT':'mean'}).round(0).rename(columns = {'students_SAT_ACT':'students_SAT_ACT_mean'}))
    .join(df.agg({'salaries_teachers':'mean'}).round(2).rename(columns = {'salaries_teachers':'salaries_teachers_mean'}))
    .join(df.agg({'salaries_total':'mean'}).round(2).rename(columns = {'salaries_total':'salaries_total_mean'}))
    .join(df.agg({'expenditures_nonpersonnel':'mean'}).round(2).rename(columns = {'expenditures_nonpersonnel':'expenditures_nonpersonnel_mean'}))
    ).reset_index()
# Save dataframes to csv files
    school_stats.to_csv("./educationdata/" + filename + ".csv")
    return school_stats

zip_data_2013 = create_zip_data(school_dir_2013, 'zip_data_2013')
zip_data_2015 = create_zip_data(school_dir_2015, 'zip_data_2015')
zip_data_2017 = create_zip_data(school_dir_2017, 'zip_data_2017')
zip_data_2013

,state_location,zip_location,school_counts,enrollment_mean,g12_enrollment_mean,teachers_fte_mean,g12_students_retained_mean,students_SAT_ACT_mean,salaries_teachers_mean,salaries_total_mean,expenditures_nonpersonnel_mean
0,AK,99502,1,1693.0,374.0,71.0,16.0,403.0,4749378.0,6365571.27,169781.0
1,AK,99504,1,1491.0,325.0,74.0,30.0,334.0,4488537.0,6033659.72,180609.0
2,AK,99507,1,1693.0,402.0,78.0,31.0,382.0,4873194.0,6646636.89,175642.0
3,AK,99508,1,2209.0,524.0,104.0,59.0,367.0,5836199.0,7751654.56,240688.0
4,AK,99516,1,1500.0,361.0,64.0,23.0,394.0,4401731.0,5816422.48,146653.0
...,...,...,...,...,...,...,...,...,...,...,...
12518,WY,83001,1,638.0,132.0,48.0,0.0,0.0,88924.0,88924.00,1296579.0
12519,WY,83110,1,728.0,184.0,48.0,0.0,2.0,3332525.0,4767869.65,1540815.0
12520,WY,83113,1,192.0,54.0,15.0,4.0,55.0,840230.0,1256032.31,136149.0
12521,WY,83114,1,116.0,19.0,12.0,0.0,0.0,782400.0,1115681.44,643955.0
12522,WY,83116,1,154.0,40.0,14.0,0.0,52.0,1078493.0,1443621.83,28120.0

In [29]:
zip_data_2015

,state_location,zip_location,school_counts,enrollment_mean,g12_enrollment_mean,teachers_fte_mean,g12_students_retained_mean,students_SAT_ACT_mean,salaries_teachers_mean,salaries_total_mean,expenditures_nonpersonnel_mean
0,AK,99502,1,1652.0,419.0,77.0,12.0,293.0,4908340.0,6383338.00,178682.0
1,AK,99503,1,286.0,38.0,15.0,0.0,36.0,964545.0,1314766.75,20079.0
2,AK,99504,1,1397.0,277.0,81.0,29.0,132.0,4141399.0,5571506.50,154535.0
3,AK,99507,1,1594.0,406.0,74.0,28.0,181.0,4450604.0,6008551.50,156488.0
4,AK,99508,1,2031.0,509.0,107.0,63.0,167.0,5537667.0,7326735.00,253944.0
...,...,...,...,...,...,...,...,...,...,...,...
13201,WY,83001,2,363.0,88.0,28.0,4.0,88.0,2110720.5,3053079.50,228487.5
13202,WY,83101,2,132.0,21.0,10.0,0.0,26.0,545288.0,793218.35,57704.5
13203,WY,83110,2,385.0,94.0,26.0,0.0,130.0,1755555.5,2753885.50,86087.0
13204,WY,83113,1,185.0,50.0,14.0,1.0,29.0,940515.0,1287956.25,142224.0
13205,WY,83114,1,118.0,18.0,10.0,0.0,38.0,666794.0,1050953.00,12210.0

In [30]:
zip_data_2017

,state_location,zip_location,school_counts,enrollment_mean,g12_enrollment_mean,teachers_fte_mean,g12_students_retained_mean,students_SAT_ACT_mean,salaries_teachers_mean,salaries_total_mean,expenditures_nonpersonnel_mean
0,AK,99502,1,1652.0,419.0,77.0,12.0,293.0,4908340.0,6383338.00,178682.0
1,AK,99503,1,286.0,38.0,15.0,0.0,36.0,964545.0,1314766.75,20079.0
2,AK,99504,2,779.0,150.0,46.0,16.0,69.0,2424280.0,3278560.12,89804.0
3,AK,99507,1,1594.0,406.0,74.0,28.0,181.0,4450604.0,6008551.50,156488.0
4,AK,99508,1,2031.0,509.0,107.0,63.0,167.0,5537667.0,7326735.00,253944.0
...,...,...,...,...,...,...,...,...,...,...,...
13860,WY,83001,2,363.0,88.0,28.0,4.0,88.0,2110720.5,3053079.50,228487.5
13861,WY,83101,2,132.0,21.0,10.0,0.0,26.0,545288.0,793218.35,57704.5
13862,WY,83110,2,385.0,94.0,26.0,0.0,130.0,1755555.5,2753885.50,86087.0
13863,WY,83113,1,185.0,50.0,14.0,1.0,29.0,940515.0,1287956.25,142224.0
13864,WY,83114,1,118.0,18.0,10.0,0.0,38.0,666794.0,1050953.00,12210.0